@{
    ViewData["Title"] = "Wip tracking";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-sm table-dashboard data-table no-wrap mb-0 fs--1 w-100">
      <thead class="bg-200 text-900">
        <tr>
             <th>
                 Serial Number
            </th>
             <th>
                 Model Name
            </th>
             <th>
                 Group Name
            </th>

        </tr>
    </thead>
      <tbody class="list">
        @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.SERIAL_NUMBER
                </td>
                 <td width="20%">
                    @obj.MODEL_NAME
                </td>
                 <td width="20%">
                    @obj.GROUP_NAME
                </td>
            </tr>
        }
    </tbody>
</table>